<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENERGY MIX</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="static/p5.min.js"></script>
  <script src="static/sketch.js"></script>
</head>
<body>
  <header>
      <h1>ENERGY MIX</h1>
      <p>The sources we get our energy from.</p>
  </header>

  <form action="/" method="post">
    <label for="years">Year:</label>
    <select name="years" id="years" onchange="this.form.submit()">
        {% for year in years %}
        <option value="{{ year[0] }}" {{ 'selected' if year[0] == selected }} >{{ year[0] }}</option>

        {{selected}}            
        {% endfor %}
    </select>
</form>

</body>

</html>